/* Global Styles */
* { 
    margin: 0;
    padding: 0;
    border: 0;
}
html {
    scroll-behavior: smooth;
    font-size: 16px;
}
.page {
    font-family: 'Roboto', sans-serif;
}
.home-content {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
.content {
    position: relative;
    color: white;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}
a {
    color: white;
    text-decoration: none;
}
.words {
    font-weight: 700;
    text-transform: uppercase;
}
hr {
    width: 40%;
    height: 3px;
    display: block;
    clear: both;
    background-color: white;
}
@media only screen and (max-width: 850px) {
    hr {
        width: 70%;
    }
}
.content-container,
.about-container,
.contact-info {
    width: 100%;
    font-size: 15px;
    z-index: 1;
    color: white;
    padding: 10%;

}
.home-description,
.second-content p,
.process-container p,
.promo-text  {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 300;
    line-height: 1.6;
}
.image-news,
.people {
    width: 100%;
}
/* GlobalTransitions */
.dark.fade-in,
.first-content,
.second-content.fade-in,
.news-grid.fade-in,
.person-1-desktop .part-1-desktop.fade-in,
.person-2-desktop .part-2-desktop.fade-in,
.person-3-desktop .part-3-desktop.fade-in,
.process-desktop .process-1.fade-in {
    opacity: 1;
    transition: 1s;
}
/* End Global Styles */

/*
 ==============
 = NAVIGATION =
 ==============
 */

 .main-nav{
    width: 100%;
    height: 55px;
    position: fixed;
    top: 0;
    left: 0;
    text-align: left;
    background: rgba(251, 251, 251, 0);
    color: white;
    z-index: 99;
}
.nav-toggle {
    display: none;
}
.inner-nav{
    display: inline-block;
    position: relative;
    float: right;
}
.inner-nav ul{
    float: left;
    margin: auto;
    font-size: 11px;
    font-weight: 500;
    text-transform: uppercase;
    text-align: center;
    line-height: 1.3;
    list-style: none;
}
.inner-nav ul > li{
    float: left;
}
.inner-nav ul > li > a{
    color: white; 
    display: inline-block;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 20px;
    text-decoration: none;
    
    -webkit-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);  
    -moz-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000); 
    -o-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
    -ms-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000); 
    transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
}
.inner-nav ul > li > a:hover {
    transform: scale(1.1);
    color: #e69947;
}
.inner-nav ul > li.active {
    text-decoration: none;
    border-bottom: 3px solid #e69947;
}
.inner-nav ul > li > a{
    height: 40px;
    line-height: 55px;
}
/* Nav Transitions */
.main-nav.fade-in {
    background: #fbfbfb;
    
    -webkit-box-shadow: 0 1px 10px rgba(0,0,0,.1), 0 1px 0 rgba(0,0,0,.027);
    -moz-box-shadow: 0 1px 10px rgba(0,0,0,.1), 0 1px 0 rgba(0,0,0,.027);
    box-shadow: 0 1px 10px rgba(0,0,0,.1), 0 1px 0 rgba(0,0,0,.027);
}
.nav-button.color-change {
    color: #444444; 
}
/*
 ==============
 ==== LOGO ====
 ==============
 */

.nav-logo-wrap{
    float: left;
    margin-left: 150px;
    margin-top: 10px;
}
.nav-logo-wrap .logo{
    display: table-cell;
    vertical-align: middle;
    max-width: 100px;
    max-height: 100%;
}
.nav-logo-wrap .logo:before,
.nav-logo-wrap .logo:after{
    display: none;
}

/* Nav Logo Transitions */
.light.fade-out {
    opacity: 0;
    transition: 1s;
}
.dark {
    opacity: 0;
    transition: 1s;
}


@media only screen and (max-width: 850px) {
    .inner-nav {
        display: none;
        width: 90px;
        background-color: white;
        position: absolute;
        top: 100%;
        right: 0;
    }
    .nav-toggle:checked ~ .inner-nav {
        display: block;
    }
    .inner-nav ul li {
        margin: 0 10px;
    }
    .inner-nav ul li {
        margin: 0 10px;
    }
    #contact-button {
        margin: 0;
        margin-bottom: 5px;
    }
    .nav-toggle-label {
        position: absolute;
        top: 0;
        right: 0;
        margin-right: 1em;
        height: 100%;
        display: flex;
        align-items: center;
    }
    .nav-toggle-label span,
    .nav-toggle-label span::before,
    .nav-toggle-label span::after{
        background-color: white;
        display: block;
        height: 2px;
        width: 2em;
        border-radius: 2px;
        position: relative;
    }
    .nav-toggle-label span.color-change,
    .nav-toggle-label span.color-change::before,
    .nav-toggle-label span.color-change::after{
        background-color: black;
    }
    .nav-toggle-label span::before,
    .nav-toggle-label span::after {
        content: '';
        position: absolute;
    }
    .nav-toggle-label span::before {
        bottom: 7px;
    }
    .nav-toggle-label span::after {
        top: 7px;
    }
    .nav-logo-wrap {
        margin-left: 20px;
    }
}
/* Nav Logo Transitions End */

/* Logo (in header)*/

.logo-wrap{
    width: 100%;
    position: absolute;
    top: 4%;
    left: 0;
    text-align: center;
}
.logo{
    display: inline-block;
    position: absolute;
    font-size: 25px;
    font-weight: 700;
    color: #fff;
    text-decoration: none;
    vertical-align: middle;
}
a.logo:hover{
    color: #fff;
    text-decoration: none;
}
.logo:before,
.logo:after{
    content: " ";
    display: block;
    width: 32px;
    height: 2px;
    position: absolute;
    top: 50%;
    margin-top: -1px;
    background: #fff;
    background: rgba(255,255,255, .75);
}
.logo:before{
    left: -42px;
}
.logo:after{
    right: -42px;
}




/*
 ==============
 ==== HOME ====
 ==============
 */
.home-content-text {
    text-align: left;
    width: 60%;
}
.home-content-text h1 {
    text-transform: uppercase;
    margin-top: 20px;
    margin-bottom: 20px;
    line-height: 1.3;
    font-size: 40px;
}
.home-description {
    width: 70%;
}
.home-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}
.home-grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 30px;
    margin-top: 10px;
    padding-right: 10%;
}
.second-content {
    opacity: 0;
    transition: 1s;
}
.scroll-down {
    position: absolute;
    bottom: 3rem;
    left: 50%;
    transform: translateX(50%);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.mouse {
    width: 1.5rem;
    height: 3rem;
    border: 2px solid #fff;
    border-radius: 2rem;
    display: flex;
    /* FLASHING MOUSE NOT SURE IF I SHOULD USE IT */
    /* animation: arrow-down .5s alternate infinite; */
}
.mouse span {
    width: .7rem;
    height: .7rem;
    background-color: #fff;
    display: block;
    border-radius: 50%;
    margin: auto;
    animation: move-wheel 1s linear infinite;
}
.arrow span {
    display: block;
    width: .7rem;
    height: .7rem;
    border: 2px solid transparent;
    border-right-color: white;
    border-bottom-color: white;
    transform: rotate(45deg);
    animation: arrow-down .5s alternate infinite;
}
.scroll-text {
    text-transform: uppercase;
    margin-top: 10px;
    font-size: .9rem;
    animation: arrow-down .5s alternate infinite;
}
@keyframes move-wheel {
    0%{
        opacity: 0;
        transform: translateY(-1rem);
    }
    100%{
        opacity: 1;
        transform: translateY(1rem);
    }
}
@keyframes arrow-down {
    0%{
        opacity: 0;
    }
    25%{
        opacity: .25;
    }
    50%{
        opacity: .5;
    }
    75%{
        opacity: .75;
    }
    100%{
        opacity: 1;
    }
}
/* Home Transitions */
.first-content.fade-out {
    opacity: 0;
}

@media only screen and (max-width: 850px) {
    .home-content-text {
        width: 100%;
    }
    .scroll-down {
        display: none;
    }
    .home-grid {
        display: unset;
        padding-right: unset;
    }
    .home-content-text h1 {
        font-size: 30px;
    }
    .home-description {
        width: 100%;
        line-height: 1.3;
        font-size: 20px;
    }
}
/* End Home Content */




/*
 ==============
 ==== NEWS ====
 ==============
 */
.news-grid {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: grid;
    grid-template-columns: repeat(auto-fit, 30%);
    grid-template-rows: auto auto auto auto;
    grid-column-gap: 10px;
    grid-row-gap: 40px;
    z-index: 1;
    padding-right: 20px;
    padding-left: 20px;
    opacity: 0;
    transition: 1s;
}
.news-title {
    grid-row-start: 1;
    grid-row-end: 5;
    text-align: right;
    margin: auto;
}
.news-title hr {
    width: 60%;
    margin: 0 0 20px 40%;
}
.news-title h1 {
    text-transform: uppercase;
}
.news-title h2 {
    font-weight: 300;
}
.image-news-container {
    height: 120px;
    margin: auto;
}
.content-news-title {
    margin-top: 40px;
    margin-bottom: 10px;
}
.content-news-container:hover,
.image-news-container:hover {
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1.1);
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1.5);   
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1.1);
    transition: all 200ms ease-in;
    transform: scale(1.1);
}
.content-news-container a:hover {
    color: #e69947;
}
.content-news-sub {
    font-weight: 200;
}

@media only screen and (max-width: 850px) {
    .news-page {
        height: 100%;
    }
    .news-title {
        grid-area: title;
        margin-bottom: 20px;
        margin-right: 0;
    }
    .news-title hr {
        margin-left: 40%;
        margin-bottom: 20px;
    }
    .news-title h1 {
        font-size: 40px;
        width: 200px;
        margin-left: 100px;
    }
    .news-title h2 {
        font-size: 20px;
        font-weight: 200;
    }
    .row-2-img {
        grid-area: img-2;
    }
    .row-2-content {
        grid-area: content-2;
    }
    .row-3-img{
        grid-area: img-3;
    }
    .row-3-content {
        grid-area: content-3;
    }
    .row-4-img {
        grid-area: img-4;
    }
    .row-4-content {
        grid-area: content-4;
    }
    .news-grid {
        grid-template-areas: 
        'title title title'
        'img-2 . .'
        'content-2 content-2 .'
        'img-3 . .' 
        'content-3 content-3 .' 
        'img-4 . .' 
        'content-4 content-4 .';
        grid-row-gap: 1rem;
        width: 100%;
        margin-left: 1rem;
    }
    .content-news-title {
        margin-top: 0;
    }
    .content-news-sub {
        margin-bottom: 20px;
    }
    .image-news-container {
        display: flex;
        margin: 0;
    }
}
/* End News Content */




/*
 ==============
 === ABOUT ====
 ==============
 */

.person-1-mobile,
.mobile-content,
.contacts-page-mobile,
.partners-mobile {
    display: none;
}
.content .person-1-desktop {
    display: flex;
    align-items: center;
    justify-content: center;
}
.about-container {
    width: 90%;
    position: absolute;
    top: -35%;
    left: -5%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 2.5rem;
    margin-top: 18rem;
}
.about-mouse {
    opacity: 1;
}
.about-mouse.fade-out {
    opacity: 0;
    transition: 1s;
}
.about-text {
    width: 100%;
    text-align: right;
    padding-top: 4rem;
}
.about-text .title {
    margin: 20px 0;
}
.about-text hr {
    margin-left: 60%;
}
.about-text p {
    font-weight: 200;
}
.quotes {
    font-family: 'Roboto', 'san-serif';
    font-weight: 300;
    font-style: italic;
    line-height: 1.6;
    margin-bottom: 1rem;
}
.quotes span {
    color: #e48622;
}
.names {
    font-size: 1.5rem;
    margin-bottom: 0;
}
.job-title {
    text-transform: uppercase;
    margin-top: 0;
}
.people-content {
    display: grid;
    grid-template-columns: .8fr 80px;
    margin-top: 30px;
    margin-left: 14%;
}
.row {
    display: inherit;
}
.column-sides {
    float: left;
    width: 30%;
    margin: -2.5rem;
    display: flex;
    align-items: center;
}
.column-sides img {
    width: 100%;
}
/* Clearfix (clear floats) */
.row::after {
    content: "";
    clear: both;
    display: table;
  }
.process-container {
    width: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-55%, -50%);
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-column-gap: 40px;
}
.process-container hr,
.partners hr {
    margin-left: 0;
    margin-bottom: 1rem;
    width: 100%;
}
.sub-title {
    text-transform: uppercase;
    margin: 1rem 0;
}
.process-1 {
    grid-template-columns: 2fr 1fr;
}
.process-1-content {
    text-align: right;
    padding-left: 5rem;
}
.process-1-content .quotes {
    font-size: 2.5rem;
    font-weight: 400;
}
.process-container .words {
    font-size: 3rem;
}
.process-1-title {
    font-size: 4rem;
}
.process-1-title,
.process-2-3-title {
    font-weight: 400;
    font-style: italic;
    margin-bottom: 2rem;
}
.process-2-3-title {
    text-align: center;
}
.process-4 {
    grid-template-columns: 1fr 2fr;
}
.questions {
    margin: 2rem 0;
}
.process-5 {
    display: grid;
    grid-template-columns: 2fr 2fr 2fr 2fr;
    margin: 0 3rem;
}
.process-5 .row {
    display: grid;
    grid-template-rows: 0.2fr 1fr 0.2fr 0.3fr 0.2fr 0.5fr;
    margin: 0 1rem;
}
.process-5 .sub-title {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    margin: 0;
}
.process-5 .sub-title,
.process-5-title,
.process-5 .process-img-container,
.process-5 .practice  {
    text-align: center;
}
.process-5 .process-img-container,
.process-5 .practice {
    display: flex;
    align-items: center;
    justify-content: center;
}
.process-5 .process-img-container {
    padding: 1.5rem 0;
}
.process-5 .practice {
    font-size: 1rem;
    font-weight: 100;
    font-family: 'Roboto', sans-serif;
    color: grey;
    text-transform: uppercase;
    letter-spacing: .5rem;
}
.process-5 li {
    font-style: italic;
}


/* ===============
    Images & Text
   =============== */

.people {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 2.5rem;
}
.people .overlay {
    position: absolute;
    z-index: 1;
    background: rgba(0, 0, 0, 0.7);
    height: 29%;
    width: 12%;
    border-radius: 50%;
}
.person-1-desktop .people .person-1-img,
.person-2-desktop .people .person-2-img,
.person-3-desktop .people .person-3-img {
    position: relative;
    z-index: 2;
}
.person-1-desktop .part-1-desktop,
.person-2-desktop .part-2-desktop,
.person-3-desktop .part-3-desktop,
.process-1 {
    opacity: 0;
}

@media only screen and (max-width: 850px) {
    .person-1-desktop,
    .person-2-desktop,
    .person-3-desktop,
    .process-desktop,
    .contacts-page-desktop,
    .partners-desktop {
        display: none;
    }
    .person-1-mobile,
    .mobile-content,
    .process-mobile {
        display: initial;
    }
    .contacts-page-mobile,
    .partners-mobile {
        display: inherit;
    }
    .content .person-1-mobile {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .person-1-mobile .about-container {
        grid-template-columns: none;
        margin: 4rem 0 0 2rem;
        width: 100%;
        top: 0;
        left: 0;
        z-index: 3;
    }
    .person-1-mobile .about-img img {
        width: 100%;
        height: 100vh;
    }
    .person-1-mobile .people {
        padding-left: 1.5rem;
    }
    /* .person-1 .people,
    .person-2 .people,
    .person-3 .people {
        margin-top: 20px;
        padding: 0 3rem;
    } */
    /* .person-1-mobile .people .person-1-img {
        position: relative;
        z-index: 2;
    } */
    .about-text {
        padding-top: 0;
    }
    .column-sides {
        width: 9rem;
    }
    .column-center {
        width: 15rem;
    }
    .column-center img {
        width: 100%;
    }
    .mobile-content {
        padding: 0 2rem;
    }
    .text-container {
        padding: 0 3rem;
    }
    .text-container .quotes {
        line-height: 1;
        margin: 2rem 0;
    }
    .process-1-content {
        padding: 0;
    }
    .process-1-title {
        font-size: 2.5rem;
        margin: 2rem 0 1rem 0;
    }

    .process-1-content .quotes {
        font-size: 2rem;
        margin: 0;
    }
    .process-text {
        text-align: left;
    }
    .sub-title {
        margin: 3rem 0 1rem 0;
    }
    .process-2-3-title {
        text-align: left;
        margin: 2rem 0;
    }
    .process-img-container img {
        width: 100%;
    }
    .process-text hr {
        margin-top: 2rem;
    }
    .row .sub-title {
        text-align: center;
    }
    .row .mini-sub,
    .row p,
    .row .practice,
    .row ul {
        text-align: left;
    }
    .row .process-img-container,
    .row p,
    .row ul {
        margin: 1rem 0;
    }
    .leadership-container {
        width: 9rem;
    }
    .leadership-container img {
        width: 100%;
    }
}
/* End About Us Content */





/*
 ==============
 == CONTACT ===
 ==============
 */
 .contact-container {
    width: 80%;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Roboto', 'san-serif';
    opacity: 1;
 }
.contact-container.fade-out {
    opacity: 0;
    transition: 1s;
}
.partners-container {
    opacity: 0;
}
.partners-container.fade-in {
    opacity: 1;
    transition: 1s;
}
.contact-info {
    display: grid;
    grid-template-columns: 2fr 1fr;
    padding: 5%;
}
.contact-info h1 {
    font-size: 2rem;
}
.contact-left hr {
    margin-bottom: 10px;
    width: 60%;
}
.contact-links {
    display: grid;
    grid-template-columns: 1fr 7fr;
    grid-template-rows: auto auto;
    grid-row-gap: 20px;
    margin-top: 10px;
    margin-bottom: 40px;
}
.media-grid {
    display: grid;
    grid-template-columns: repeat(2, 50px);
    margin-top: 10px;
}
.contact-img-container {
    width: 40px;
}
.contact-info h3 {
    font-weight: 300;
}
.contact-left {
    width: 80%;
}
.contact-left h3 {
    margin-top: 40px;
    margin-bottom: 40px;
    text-transform: uppercase;
}
.contact-left ul {
    padding-left: 15px;
    width: 70%;
}
.contact-left ul li,
.store-grid p {
    line-height: 1.6;
}
.store {
    margin-top: 40px;
    margin-bottom: 10px;
}
.store-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 40%;
}
.store-grid a {
    text-decoration: underline;
    color: cornflowerblue;
}
.store-grid a:hover {
    color: blue;
}

/* 
===============
    Partners
===============    
*/
.partners-container {
    width: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-55%, -50%);
}
.partners {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-column-gap: 40px;
}
.partners-container .quotes {
    text-align: right;
}
.partners-logos {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.partner-img-container{
    width: 25rem;
}
.partner-img {
    width: 100%;
}
.partner-logo-container {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
}
.partner-logo-container .partner-img-container{
    width: 15rem;
}
.partner-img-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}
.partners-desktop .process-text {
    text-align: right;
    font-family: 'Roboto', 'san-serif';
}

@media only screen and (max-width: 850px) {
    .contacts-page-mobile {
        position: relative;
        width: 100%;
        height: 100vh;
        overflow: hidden;
    }
    .contact-content {
        position: absolute;
        width: 100%;
        top: 0;
        left: 0;
    }
    .contact-info {
        grid-template-columns: unset;
        grid-row-gap: 20px;
        width: 80%;
        padding-left: 5%;
    }
    .contact-info h1 {
        text-align: left;
    }
    .contacts-page-mobile {
        height: 100%;
    }
    .contact-links {
        width: 200px;
    }
    .contact-left hr {
        width: 70%;
        margin-bottom: 30px;
    }
    .contact-right ul {
        width: 100%;
    }
    .media-grid {
        justify-content: start;
        grid-template-columns: repeat(4, 50px);
    }
    .store-grid {
        width: 100%;
    }
    .partners-container-mobile {
        width: 80%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-55%, -50%);
    }
    .partners-container-mobile .quotes {
        text-align: right;
    }
    .partners-mobile {
        position: absolute;
        height: 100%;
        width: 108%;
        top: 710rem;
    }
    .partners-logos {
        grid-template-columns: none;
    }
    .partner-logo-container {
        grid-template-rows: none;
        grid-template-columns: 1fr 1fr;
    }
    .partner-logo-container .partner-img-container {
        width: 13rem;
    }
    .partners-mobile .process-text {
        text-align: right;
    }

}
/* End Contact Content */




/*
 ==============
 === FOOTER ===
 ==============
 */
.footer {
    width: 100%;
    position: fixed;
    left: 0;
    bottom: 0;
}
.footer-img-container {
    float: right;
    margin-right: 100px;
    margin-bottom: 20px;
}
.promo-text {
    text-transform: uppercase;
    font-size: 10px;
    color: white;
    letter-spacing: 3px;
    margin-top: 0;
    margin-bottom: 10px;
}

@media only screen and (max-width: 850px) {
    /* .footer-img-container {
        margin: 10px;
    }
    .footer-img-container img {
        width: 100px;
    }
    .promo-text {
        margin-bottom: 0;
    } */
    .footer {
        display: none;
    }
}
/* End of Footer */